/* 
    Document   : examples
    Created on : 2012.05.07., 14:00:15
    Author     : leon
    Description:
        Styles for all examples.
*/

nav{
    background-color: white;
}

nav a{
    text-decoration: none;
    color: black;
    font-size: 10px;
}

